@import '../../partials/global';

.gallery {
    background-color: rgba(255,255,255,0.1);
    width: 80%;
    height: 700vw;
    position: absolute;
    left: 10%;
    top: 0;
    margin-top: 33%;  
    display: inline-block;

    &__box {
        width: 90%;
        position: absolute;
        background-color: rgba(255,255,255,0.1);
        left: 5%; 
        height: 90%;
        top: 0;
        margin-top: 12.75vw;
    }

    &-banner {
        width: 100%;
        margin: 0;
    }
    &-name {
        font-family: 'Valorant';
        font-size: 6rem;
        color: white;
        opacity: 0.7;
        letter-spacing: 0.2em;

        &1 {
            font-family: 'Blackout';
            margin-top: 10%;
            letter-spacing: 1.5rem;
        }
        &-container {
            position: absolute;
            right: 0;
            left: 0;
            top: 0;
            margin-top: 9%;

            &1 {
                margin-top: 1%;
                height: 5px;
            }
        }
    }
    &__photo {
        position: absolute;
        width: 33vw;

        &1 {
            top: 0;
            margin-top: 15vw;
            left: 7%;
        }
        &2 {
            top: 0;
            margin-top: 35vw;
            left: 7%;
        }
        &7 {
            top: 0;
            margin-top: 15vw;
            right: 7%; 
        }
        &5 {
            top: 0;
            margin-top: 99vw;
            width: 68.3vw;
            left: 7%;
        }
        &6 {
            top: 0;
            margin-top: 58vw;
            right: 7%; 
        }
        &3 {
            top: 0;
            margin-top: 139.5vw;
            left: 7%; 
            width: 15.5vw;
            height: 21vw;
        }
        &4 {
            top: 0;
            margin-top: 214.8vw;
            right: 7%; 
        }
        &8 {
            top: 0;
            margin-top: 139.5vw;
            left: 28.8%;
            width: 15.65vw;
        }
        &9 {
            top: 0;
            margin-top: 71.7vw;
            left: 7%;
            width: 33vw;
            height: 25.4vw;
        }
        &10 {
            top: 0;
            margin-top: 139.5vw;
            right: 7%;
        }
        &11 {
            top: 0;
            margin-top: 162.5vw;
            left: 7%;
        }
        &12 {
            width: 16vw;
            top: 0;
            margin-top: 192.5vw;
            right: 28.4%;
        }
        &13 {
            top: 0;
            margin-top: 78.3vw;
            right: 7%;
            height: 18.9vw;
        }
        &14 {
            top: 0;
            margin-top: 192.5vw;
            right: 7%;
            width: 15vw;
            height: 20.3vw;
        }
        &15 {
            top: 0;
            margin-top: 211vw;
            left: 7%;
            height: 22.5vw;
        }
        &16 {
            top: 0;
            margin-top: 235.5vw;
            width: 68.3vw;
            left: 7%;
        }
        &17 {
            top: 0;
            margin-top: 281vw;
            left: 7%;
            width: 43vw;
        }
        &18 {
            top: 0;
            margin-top: 281vw;
            right: 7%;
            width: 23vw;
            height: 31.2vw;
        }
        &32 {
            top: 0;
            margin-top: 314vw;
            right: 7%;
            width: 41.5vw;
        }
        &24 {
            top: 0;
            margin-top: 314vw;
            left: 7%;
            width: 25vw;
            height: 35.75vw;
        }
        &25 {
            top: 0;
            margin-top: 341vw;
            right: 7%;
            width: 41.5vw;
        }
        &23 {
            top: 0;
            margin-top: 351.5vw;
            left: 7%;
            width: 25vw;
        }
        &21 {
            top: 0;
            margin-top: 370vw;
            left: 7%;
            width: 68.3vw;
        }
        &28 {
            top: 0;
            margin-top: 394vw;
            right: 7%;
            width: 31.25vw;

        }
        &34 {
            top: 0;
            margin-top: 394vw;
            left: 7%;
            width: 35vw; 
        }
        &30 {
            top: 0;
            margin-top: 426.25vw;
            right: 7%;
            width: 31.25vw; 
        }
        &26 {
            top: 0;
            margin-top: 445.5vw;
            right: 7%;
            width: 31.25vw;  
        }
        &27 {
            top: 0;
            margin-top: 435vw;
            left: 7%;
            width: 35vw; 
        }
        &35 {
            top: 0;
            margin-top: 463.5vw;
            left: 7%;
            width: 35vw;
        }
        &29 {
            top: 0;
            margin-top: 488.5vw;
            right: 7%;
            width: 31.25vw;
            height: 29.1vw;
        }
        &22 {
            top: 0;
            margin-top: 519.5vw;
            right: 7%;
            width: 68.2vw;
        }
        &33 {
            top: 0;
            margin-top: 547vw;
            left: 7%;
            width: 31.5vw;
            height: 19.7vw;
        }
        &20 {
            top: 0;
            margin-top: 547vw;
            right: 7%;
            width: 35vw; 
        }
        &31 {
            top: 0;
            margin-top: 568.75vw;
            left: 7%;
            width: 35vw; 
        }
        &19 {
            top: 0;
            margin-top: 568.75vw;
            right: 7%;
            width: 31.5vw; 
        }
    }
}

.text {
    color: $val-grey;
    width: 400px;
    text-align: left;
    font-family: 'Lato';
    font-weight: 50;
}