@import '../../partials/global';

.home {
    background-color: rgba(255,255,255,0.1);
    width: 80%;
    height: 100%;
    position: absolute;
    left: 10%;
    top: 0;
    margin-top: 33%;

    &__jett {
        opacity: 0.7;
        transform: rotateY(180deg);
    }

}