@import '../../partials/global';

.home {
    background-color: rgba(255,255,255,0.1);
    width: 80%;
    height: 2000px;
    position: absolute;
    left: 10%;
    top: 0;
    margin-top: 33%;

    &__container {
        margin-top: 4vw;
    }

    &__box {
        width: 90%;
        position: absolute;
        background-color: rgba(255,255,255,0.1);
        height: 100%;
        left: 5%;
    }

    &__jett {
        opacity: 0.6;
        transform: rotateY(180deg);
        margin: 3vw 5vw;
        width: 63.5vw;
        margin-top: 22.1vw;
    }
    &__heading {
        padding: 3vw 0 0 3vw;
        font-size: 5.5vw;
        font-family: 'Tungsten';
        text-transform: uppercase;
        letter-spacing: 0.11vw;
        line-height: 4.8vw;
        background-color: rgba(235, 231, 225, 0.6);
        color: $val-black;

        &-container {
            width: 63.5vw;
            position: absolute;
            right: 9.95%;
            opacity: 1;
            top: 0;
            margin: 15vw 0 0 0;
            padding: 2vw 0 0 0;
            z-index: 2;
            text-align: left;
        }

        &-val {
            font-family: "Valorant";
            color: darkred;
            font-size: 6vw;
            letter-spacing: -0.5vw;
        }
    }
    &__text {
        font-size: 0.9vw;
        text-align: left;
        color: #444444;

        &-container {
            position: absolute;
            right: 13%;
            opacity: 1;
            top: 0;
            margin-top: 48%;
            z-index: 2;
            width: 25vw;
        }

        &-first {
            text-transform: uppercase;
            font-weight: bold;
        }
        &-button {
            background-color: $val-red;
            outline: none;
            border: none;
            padding: 1vw 2vw;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1vw;
            position: relative;
            margin-top: 2vw;

            &:hover {
                cursor: pointer;
                background-color: $val-black;
                color: white;
                animation: button 1.5s;
            }
            &:active {
                color: white;
                background-color: $val-black;
            }

            &-box {
                border: white 0.1vw solid;
                padding: 2vw 5.65vw;
                position: absolute;
                top: 0;
                margin-top: 12.4vw;
                left: 27%;
                z-index: 0;

                &2 {
                    margin-top: 17.62vw;
                    padding: 2vw 7.8vw;
                    left: 18.3%;
                }
                &3 {
                    margin-top: 22.85vw;
                    padding: 2vw 6.65vw;
                    left: 22.9%;
                }
            }
        }
    }

}