@import '../../partials/global';

.home {
    background-color: rgba(255,255,255,0.1);
    width: 80%;
    position: absolute;
    left: 10%;
    top: 0;
    margin-top: 33%;

    &__container {
        margin-top: 4vw;
    }

    &__box {
        width: 90%;
        position: absolute;
        background-color: rgba(255,255,255,0.1);
        left: 5%;
        height: 90%;
    }

    &__jett {
        opacity: 0.9;
        transform: rotateY(180deg);
        margin: 3vw 5vw;
        width: 63.5vw;
        margin-top: 22.1vw;
    }
    &__heading {
        padding: 3vw 0 0 3vw;
        font-size: 5.5vw;
        font-family: 'Tungsten';
        text-transform: uppercase;
        letter-spacing: 0.11vw;
        line-height: 4.8vw;
        background-color: rgba(235, 231, 225, 0.9);
        color: $val-black;

        &-container {
            width: 63.5vw;
            position: absolute;
            right: 9.95%;
            opacity: 1;
            top: 0;
            margin: 15vw 0 0 0;
            padding: 2vw 0 0 0;
            z-index: 2;
            text-align: left;
        }

        &-val {
            font-family: "Valorant";
            color: $val-red;
            font-size: 6vw;
            letter-spacing: -0.5vw;
        }
    }
    &__text {
        font-size: 0.9vw;
        text-align: left;
        color: #444444;

        &-container {
            position: absolute;
            right: 13%;
            opacity: 1;
            top: 0;
            margin-top: 48%;
            z-index: 2;
            width: 25vw;
        }

        &-first {
            text-transform: uppercase;
            font-weight: bold;
        }
        &-line {
            width: 100%;
            border-top: 0.1vw solid rgba(0,0,0,0.2);
            margin-top: 2vw;
        }
        &-button {
            position: absolute;
            margin: -0.13vw 0 2vw 0;
            left: 29%;

            &2 {
                margin-top: 5.08vw;
                left: 20.3%;
                padding: 1.1vw 3.09vw;
            }
            &3 {
                margin-top: 10.35vw;
                left: 25.2%;
                padding: 1.1vw 2.85vw;
            }

            &-container {
                margin-top: 3vw;
            }

            &-box {
                border: white 0.1vw solid;
                padding: 2vw 5.65vw;
                position: absolute;
                top: 0;
                margin-top: 15.4vw;
                left: 27%;
                z-index: 0;

                &2 {
                    margin-top: 20.62vw;
                    padding: 2vw 7.8vw;
                    left: 18.3%;
                }
                &3 {
                    margin-top: 25.85vw;
                    padding: 2vw 6.65vw;
                    left: 22.9%;
                }
            }
        }
    }

}