@import '../../partials/global';

.agentanthems {
    background-color: rgba(255,255,255,0.1);
    width: 80%;
    height: 140vw;
    position: absolute;
    left: 10%;
    top: 1;
    margin-top: 5vw;
    display: inline-block;

    &__video {
        width: 21vw;
        height: 15vw;
        margin: 0.5vw;
        
        &--main {
            width: 45vw;
            height: 30.1vw;
            margin: 4.3vw;
            top: 0;
            margin-top: -33.4vw;
            left: 10.1%;
            z-index: 2;
            position: absolute;

            &-pic {
                position: absolute;
                top: 0;
                margin-top: 14vw;
                left: 21.5%;
                z-index: 2;
                width: 45vw;
                height: 30vw;
            }

            &-border {               
                width: 52vw;
                height: 36vw;
                left: 0%;
                right: 0%;
                top: 9%;
                margin: auto;
                background-color: rgba(255,255,255,0.1);
                z-index: 0;
            }
        }
        &-container {
            width: 85%;
            margin: 0 7.5%;
            position: absolute;
        }
    }
}