@import '../../partials/global';

.upload {
    background-color: rgba(255,255,255,0.1);
    width: 80%;
    height: 58vw;
    position: absolute;
    left: 10%;
    top: 0;
    margin: 33vw 0;  
    display: inline-block;

    &__container {
        display: flex;
        background-color: rgba(255,255,255,0.1);
        margin: 2vw;

        &-brim {
            margin: 3vw 1.5vw;
            width: 57%;
        }
    }
    &__form {
        margin: 2.5vw;
        width: 100%;
        
        &-title {
            color: white;
            font-size: 1vw;
        }
        &-input {
            padding: 0.5vw 1vw;
            width: 80%;
            margin: 1vw;
            font-size: 0.8vw;
            font-family: 'DINNextW1G';
            background-color: rgb(194, 192, 192);
            border-radius: 0.1vw;
            outline: none;
            border: none;
        }
        &-dropdown {
            width: 87.5%;
        }
        &-options {
            display: flex;
            justify-content: space-evenly;

            &-button--cancel {
                background: linear-gradient(to left, $val-black 50%, rgb(116, 115, 115) 50%) right;
                background-size: 201%;
                color: white;

                &:hover {
                    cursor: pointer;
                    color: black;
                    background-position: left;    
                }
            }
        }
    }
}

input::-webkit-input-placeholder {
    color: black;
}

