@import '../../partials/global';

.clips {
    background-color: rgba(255,255,255,0.1);
    width: 80%;
    position: absolute;
    left: 10%;
    top: 0;
    margin-top: 33%;  
    display: inline-block;

    &-banner {
        width: 100%;
        margin: 0;
    }
    &-name {
        font-family: 'Valorant';
        font-size: 6rem;
        color: white;
        opacity: 0.7;
        letter-spacing: 0.2em;

        &1 {
            font-family: 'Blackout';
            margin-top: 10%;
            letter-spacing: 1.5rem;
        }
    }
    &__heading {
        background-color: $val-red;
        text-align: right;
        width: 30%;
        text-transform: uppercase;
        font-family: 'Tungsten';
        font-size: 4vw;
        margin: 5% 7% 3% -3%;
        padding: 0vw 1vw 0 3vw;
        animation: 1s slide ease;

        &-text {
            animation: typing 1.5s steps(1000, end), blink .75s infinite ease-out;
            white-space: nowrap;
            border-right: 4px solid white;
            padding-right: 0.5vw;
        }

        &-box {
            border: 2px solid white;
            width: 30%;
            margin: 5.2% 7% 3% -2.5%;
            position: absolute;
            left: 5%;
            height: 5vw;
            opacity: 0.5;
        }
    }
    &__video-container {
        overflow: auto;
        width: 85%;
        height: 99vw;
        margin: 0 7.5%;

        &::-webkit-scrollbar {
            display: none;
        }
    }
    &__line {
        margin: 0vw 5vw;
        color: white;
        height: 1vw;
        border-bottom: 0.1vw white solid;
        position: relative;
    }
    &__button {

        &-container {
            display: flex;
            justify-content: right;
            margin: 1.5vw 5vw;
        }
        &--back {
            margin-right: 1vw;
        }
        &--reverse {
            right: 30%;
            top: 0;
            margin-top: 6vw;
            padding: 1.05vw 3vw;
            z-index: 2;
            position: absolute;
        }
        &--upload {
            right: 10%;
            top: 0;
            margin-top: 6vw;
            padding: 1.05vw 3vw;
            z-index: 2;
            position: absolute;
        }
        &-box {
            border: white 0.1vw solid;
            padding: 2vw 5.65vw;
            position: absolute;
            top: 0;
            margin-top: 5.55vw;
            right: 9.45%;
            z-index: 0;
        }
        &-reverse {
            width: 1.2vw;
            margin-left: 0.5vw;
            vertical-align: bottom;

            &--hover {
                animation: 2.5s upload infinite;
            }
        }
        &-upload {
            width: 1.2vw;
            margin-left: 0.5vw;
            vertical-align: bottom;

            &--hover {
                animation: 2.5s upload infinite;
            }
        }
    }
}

.text {
    color: $val-grey;
    width: 400px;
    text-align: left;
    font-family: 'DINNextW1G';
    font-weight: 50;
}