@import '../../partials/global';

.video {
    position: absolute;
    margin: 10% 14%;

    &-container {
        display: flex;
        width: 100%;
    }

    &__heading {
        background-color: $val-red;
    }

    &__clip {
        width: 100%;
        
        &-container {
            width: 30%;
            margin: 2%;
        }

        &-text {
            color: white;
            font-size: 1vw;
            text-transform: uppercase;
        
            &-container {
                display: flex;
                justify-content: space-between;
            }
            &-description {
                text-transform: none;
                text-align: left;
                margin: 0;
            }
        }
    }
}