@import '../../partials/global';

.video {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    width: 68vw;

    &__clip {
        width: 100%;
        
        &-container {
            background-image: url('../../assets/images/videoclipbackground.png');
            background-size: 100%;
            width: 24%;
            margin: 1vw;
            background-color: rgba(0,0,0,0.4);
            padding: 2vw;
            border-radius: 0.4vw;
            opacity: 1;
        }
        &-text {
            color: white;
            font-size: 1vw;
            text-transform: uppercase;
            font-weight: bold;
        
            &-container {
                display: flex;
                justify-content: space-between;
                border-bottom: 0.15vw #9b6b6b solid;
            }
            &-description {
                text-transform: none;
                text-align: left;
                margin: 1vw 0 0 0;
                font-size: 0.9vw;
            }
            &-date {
                margin-bottom: 0.1vw;
            }
            &-agent {
                margin-bottom: 0.1vw;
            }
        }
    }
}

.sage {
    background-image: url('../../assets/images/agents/sage.png');
    background-position: right;
    background-size: 40%;
    background-repeat: no-repeat;
}

.reyna {
    background-image: url('../../assets/images/agents/reyna.png');
    background-position: right;
    background-size: 40%;
    background-repeat: no-repeat;
}

.phoenix {
    background-image: url('../../assets/images/agents/phoenix.png');
    background-position: right;
    background-size: 40%;
    background-repeat: no-repeat;
}

.skye {
    background-image: url('../../assets/images/agents/skye.png');
    background-position: right;
    background-size: 40%;
    background-repeat: no-repeat;
}

.brim {
    background-image: url('../../assets/images/agents/brim.png');
    background-position: right;
    background-size: 40%;
    background-repeat: no-repeat;
}

.astra {
    background-image: url('../../assets/images/agents/astra.png');
    background-position: right;
    background-size: 40%;
    background-repeat: no-repeat;
}

.breach {
    background-image: url('../../assets/images/agents/breach.png');
    background-position: right;
    background-size: 40%;
    background-repeat: no-repeat;
}