@import '../../partials/global';

.video {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    width: 68vw;

    &__clip {
        width: 100%;
        
        &-container {
            background-image: url('../../assets/images/videoclipbackground.png');
            background-size: 100%;
            width: 24%;
            margin: 1vw;
            background-color: rgba(0,0,0,0.4);
            padding: 2vw;
            border-radius: 0.4vw;
            opacity: 1;

            &-agent {
                font-size: 0vw;
                background-repeat: no-repeat;
                background-size: 55%;
            }
        }
        &-text {
            color: white;
            font-size: 1vw;
            text-transform: uppercase;
            font-weight: bold;
        
            &-container {
                display: flex;
                justify-content: space-between;
                border-bottom: 0.15vw #9b6b6b solid;
            }
            &-description {
                text-transform: none;
                text-align: left;
                margin: 1vw 0 0 0;
                font-size: 0.9vw;
            }
            &-date {
                margin-bottom: 0.1vw;
            }
            &-agent {
                margin-bottom: 0.1vw;
            }
        }
    }
}

.alex {
    background-image: url('../../assets/images/agents/alex.png');
    background-position: 90% 120%;
}
.andrew {
    background-image: url('../../assets/images/agents/andrew.png');
    background-position: 90% 120%;
}

.ian {
    background-image: url('../../assets/images/agents/ian.png');
    background-position: 110% 140%;
    background-size: 65%;
}
.bruce {
    background-image: url('../../assets/images/agents/bruce.png');
    background-position: 90% 105%;
}
.kyle {
    background-image: url('../../assets/images/agents/kyle.png');
    background-position: 135% 140%;
    background-size: 70%;
}
.raymond {
    background-image: url('../../assets/images/agents/raymond.png');
    background-position: 80% 122%;
    background-size: 60%;
}
.igal {
    background-image: url('../../assets/images/agents/igal.png');
    background-position: 110% 130%;
    background-size: 60%;
}
.jenny {
    background-image: url('../../assets/images/agents/jenny.png');
    background-position: 105% 118%;
    background-size: 55%;
}
.tim {
    background-image: url('../../assets/images/agents/tim.png');
    background-position: 110% 120%;
}
.vincent {
    background-image: url('../../assets/images/agents/vincent.png');
    background-position: 110% 120%;
}

.sage {
    background-image: url('../../assets/images/agents/sage.png');
    background-position: 105% 118%;
    background-size: 55%;
}

.reyna {
    background-image: url('../../assets/images/agents/reyna.png');
    background-position: 90% 105%;
}

.phoenix {
    background-image: url('../../assets/images/agents/phoenix.png');
    background-position: 80% 122%;
    background-size: 60%;
}

.skye {
    background-image: url('../../assets/images/agents/skye.png');
    background-position: 95% 115%;
}

.brim {
    background-image: url('../../assets/images/agents/brim.png');
    background-position: 70% 111%;
    background-size: 55%;
}

.astra {
    background-image: url('../../assets/images/agents/astra.png');
    background-position: 160% 170%;
    background-size: 85%;
}

.breach {
    background-image: url('../../assets/images/agents/breach.png');
    background-position: 95% 115%;
}

.cypher {
    background-image: url('../../assets/images/agents/cypher.png');
    background-position: 110% 130%;
    background-size: 60%;
}

.yoru {
    background-image: url('../../assets/images/agents/yoru.png');
    background-position: 85% 120%;
}

.jett {
    background-image: url('../../assets/images/agents/jett.png');
    background-position: 85% 120%;
}

.kj {
    background-image: url('../../assets/images/agents/kj.png');
    background-position: 85% 120%;
    background-size: 60%;
}

.omen {
    background-image: url('../../assets/images/agents/omen.png');
    background-position: 110% 140%;
    background-size: 65%;
} 

.kayo {
    background-image: url('../../assets/images/agents/kayo.png');
    background-position: 85% 110%;
}

.raze {
    background-image: url('../../assets/images/agents/raze.png');
    background-position: 85% 120%;
}

.sova {
    background-image: url('../../assets/images/agents/sova.png');
    background-position: 85% 120%;
}

.chamber {
    background-image: url('../../assets/images/agents/sova.png');
    background-position: 85% 120%;
}

.neon {
    background-image: url('../../assets/images/agents/neon.png');
    background-position: 85% 120%;
}

.fade {
    background-image: url('../../assets/images/agents/fade.png');
    background-position: 85% 120%;
}

.harbor {
    background-image: url('../../assets/images/agents/harbor.png');
    background-position: 85% 120%;
}

.gekko {
    background-image: url('../../assets/images/agents/gekko.png');
    background-position: 85% 120%;
}