@font-face {
    font-family: 'Valorant';
    src: url('../assets/fonts/Valorant Font.ttf') format('truetype');
}

@font-face {
    font-family: 'DINNextW1G';
    src: url('../assets/fonts/DINNextW1G.otf') format('opentype');
}

@font-face {
    font-family: 'Blackout';
    src: url('../assets/fonts/Blackout Sunrise.ttf') format('truetype');
}

@font-face {
    font-family: 'Tungsten';
    src: url('../assets/fonts/Tungsten-Bold.ttf') format('truetype');
}