@font-face {
    font-family: 'Valorant';
    src: url('../assets/fonts/Valorant Font.woff') format('woff');
}

@font-face {
    font-family: 'DINNextW1G';
    src: url('../assets/fonts/DINNextW1G.woff') format('woff');
}

@font-face {
    font-family: 'Blackout';
    src: url('../assets/fonts/Blackout Sunrise.woff') format('woff');
}

@font-face {
    font-family: 'Tungsten';
    src: url('../assets/fonts/Tungsten-Bold.woff') format('woff');
}