@font-face {
    font-family: 'Valorant';
    src: url('../assets/fonts/Valorant Font.ttf') format('TrueType');
}

@font-face {
    font-family: 'DINNextW1G';
    src: url('../assets/fonts/DINNextW1G.otf') format('OpenType');
}