@import './fonts';
@import './mixins';
@import './variables';

body {
    font-family:'Lato';
}

button {
    font-family:'Lato';
    outline: none;
    border: none;
    padding: 1.1vw 2.65vw;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8vw;
    background: linear-gradient(to left, $val-red 50%, $val-black 50%) right;
    background-size: 200%;
    transition: 0.75s ease-out;

    &:hover {
        cursor: pointer;
        color: white;
        background-position: left;    
    }
}

