@keyframes slide {
    from {
        width: 40vw;
    }
    to {
        width: 23.8vw;
    }
}

@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 97% 
    }
}

@keyframes blink {
    from, to { 
        border-color: transparent; 
    }
    50% { 
        border-color: white; 
    }
}

@keyframes button {
    from, to { 
        background-color: #ff4655; 
    }
    100% { 
        background-color: #0f1923; 
    }
}