$val-red: #ff4655;
$val-black: #0f1923;
$val-darkgrey: #383e3a;
$val-grey: #858080;

// font-family for headings: Tungsten-Bold,arial,georgia,sans-serif;
// font-family for regular text: Lato,arial,georgia,sans-serif;